%tr
  %td.context_table_name_cell
    = context.to_s.capitalize
  %td.context_table_state_cell
    -if context.active?
      =image_tag "icons/active_context.png"
    -else 
      =image_tag "icons/inactive_context.png"
  %td
    %div.adaptations
      .context_adaptations_button
        =image_tag "icons/show_adaptations.png"
      .context_adaptations_table
        %table
          %thead
            %th Class
            %th Method
            %th Implementation
          %tbody
          -context.adaptations.each do |a|
            %tr
              %td=a.klass
              %td=a.method_name
              %td=a.implementation