%tr
  %td
    = context.to_s
  %td
    = context.class
  %td
    -if context.active?
      =image_tag "icons/active_context.png"
    -else 
      =image_tag "icons/inactive_context.png"
  %td
    = context.activation_count
  %td
    -context.adaptations.each do |a|
      =render "shared/context_adaptation", :adaptation=>a
      %br