#presenter{:style=>"background-color:#{phenomenal_color(127,127,127)}"}
  #presenter_mask
    .context_presenter
      =display_hour
      .caption
    .context_presenter
      =display_browser
      .caption
    .context_presenter
      =display_os
      .caption
    .context_presenter
      =display_location
      .caption
    
