#presenter{:style=>"background:url(#{display_hour})"}
  #presenter_mask
    .context_presenter
      =display_browser
    .context_presenter
      =display_os
    .context_presenter
      =display_location
    
