- content_for :presenter do
  =render "presenter"

%h1=@title
%h2 Active Contexts
- pnml_defined_contexts.each do |c|
  -if c.active?
    =render "shared/context", :context=>c
%h2 Inactive Contexts
- pnml_defined_contexts.each do |c|
  -if !c.active?
    =render "shared/context", :context=>c
