.row-fluid
  .span12
    %h2 System's Features and Contexts
    %table{:class=>"table table-striped"}
      %thead
        %th Name
        %th Type
        %th State
        %th Activation age
        %th Adaptations
      %tbody
        -phen_defined_contexts.each do |c|
          =render "shared/context", :context=>c