body {
  background:lightgrey;
  font: 400 15px/24px "proxima-nova-1","proxima-nova-2","Helvetica Neue",Helvetica,sans-serif;
}
#header {
  background:red;
}
#presenter {
  background:green;
}
#footer {
  background:yellow;
}
