#header{
 #header_logo {
  margin-top: 15px;
  height:50px;
 }
  #header_logo img{
    height:100px;
  }
}

#presenter {
  height:175px;
  overflow:hidden; 
  #presenter_mask{    
      .context_presenter{
        height:175px;
      img {
        float:left;
        height:175px;
      }
    }
  }
}
.clear {
  clear:both
}
.keep_calm{
  text-align:center;
}
#menu {
  height:50px;
  .big_link {
    height:50px;
    font-variant:small-caps;
    font-weight:bold;
    font-size:1.2em;
    color: white;
  }
  .big_link:hover {
    color: black;
  }
}
