html{
  counter-reset:snippets;
}
body {
   counter-reset:figures;
}
#header_top{
  height:55px;
  #logo_top{
    height:55px;
  } 
}
#header_bottom{
  height:55px;
  #logo_bottom{
    height:55px;
  }
  #content {
    margin-top:5px;
    text-align:center;
    font-size:1.2em;
    font-style:italic;
  }
}
#footer{
  padding-top:5px;
  text-align:center;
  font-variant:small-caps;
  font-weight:bold;
  font-size:1.2em;
  color:white;
  a, a:visited {
    color:white;
  }
}
#menu {
  height:25px;
  margin-top:10px;
  .big_link {
    height:25px;
    font-variant:small-caps;
    font-weight:bold;
    font-size:1.2em;
    color: white;
  }
  .big_link:hover {
    color: black;
  }
}
.clear {
  clear:both
}
.keep_calm{
  text-align:center;
}
