#simple_description {
  text-align:center;
  font-size:1.2em;
  font-style:italic;
}

/*
SOCIAL
*/
#socials {
  margin-top:20px;
  margin-bottom:20px;
}
.social {
  text-align:center;
  height:70px;
}
/*
NEWS
*/
.news_date {
  float:left;
  font-weight:bold;
  margin-right:10px;
}

/*
CUSTOMIZE
*/
#customize_form .actions {
  text-align:center;
}