/*
SOCIAL
*/
#socials {
  margin-top:20px;
  margin-bottom:20px;
}
.social {
  text-align:center;
  height:70px;
}
/*
NEWS
*/
a.news, a.news:hover {
  color: #000000;
  text-decoration:none;
}
.news_date {
  font-weight:bold;
  text-align:center;
  img {
   width:32px;
  }
}

/*
CUSTOMIZE
*/
#customize_form .actions {
  text-align:center;
}
