//=require 'html5rocks/moon'
//=require 'html5rocks/common'
//=require 'pygments'
menu{
  a {
    border-bottom:none;
  }
}

header{
 letter-spacing:-1px;
}

.presentation{
  .blue{
    color:blue;
  }
  .green{
    color:green;
  }
  #toc-list > li {
    font-size: 30px;
    line-height: 33px;
    opacity: 0.85;
    margin-left:30px;
  }
  #toc-list > li:hover {
    opacity: 1;
    cursor:pointer;
  }
  #toc-list a {
    border-bottom: 0;
  }
  #toc-list img {
    vertical-align: middle;
    margin-left: 15px;
  }
  .slide{

    &#landing-slide{
      h1, h2 {
        color: black;
      }
      h1 {
        letter-spacing: -2px;
        font-size: 66px;
      }
      h2 {
        margin-top: -5px;
        font-size: 35px;
        letter-spacing: -1px;
      }
    }

    header {
      height:100px;
      h2{
        margin-top:5px;
      }
    }
    section {
      display: table-cell;
      vertical-align: middle;
      padding-top:75px;
      height: 600px;
      width: 900px;
      padding-left:30px;
      padding-right:30px;

      &.middle{
        height: 600px;
      }

      .code_snippet{
        &.left{
          width:425px;
          padding-right:15px;
        }
      }

      .left{
        float:left;
        margin-right:15px;
      }

      .center{
        text-align:center;
      }

      .right{
        float:right;
      }

      .code_graphical_view {
      }

      .clear{
        clear:both;
      }
      .highlight {
        color:black;
      }
      p{
        line-height:30px;
        margin-top:25px;
        margin-bottom:25px;
      }

      h2 {
        margin-left:30px;
      }

      &#question-slide{
        h2{
          font-size: 40px;
          margin: 0;
          line-height: 10px;
        }
      }

      &.formula{
        span{
          margin-bottom:50px;
          &.hearth{
            color:#cc0825;
            font-size:4em;
          }
        }
        a{
          text-decoration:none;
          border-bottom:none;
        }
      }
    }

    .counter{
      font-size:1.5em;
      font-weigth:bold;
      color:#000000;
      text-align:right;
      width:840px;
    }

    .bullets{
      text-align:left;
      list-style: inside, disc;
    }
    .big-arrow{
      font-size:96px;
      text-align:center;
      &.left{
        margin-left:60px;
      }
    }
  }
}
