#footer{:style=>"background-color:#{phenomenal_color(127,127,127)}"}
  All right reserved phenomenal-gem.com 
  \| 
  =mail_to "team@phenomenal-gem.com" 
  \| 
  =link_to "Université Catholique de Louvain - INGI","http://www.uclouvain.be/ingi.html"

