.row-fluid
  .span12#footer{:style=>"background-color:#{phenomenal_color(127,127,127)}"}
    =mail_to "team@phenomenal-gem.com" ,"Thibault Poncelet"
    \| 
    =mail_to "team@phenomenal-gem.com" , "Loic Vigneron"
    \| 
    =link_to "RELEASeD laboratory","http://released.info.ucl.ac.be/Research/ContextOrientedProgramming"

